<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>

<form role="form" action="/posts/region/new" th:object="${postForm}" method="post">
    <!-- radio button -->
    <div>
        <div>지역 정보</div>
        <div th:each="type : ${regionTypes}">
            <input type="radio" th:field="*{regionType}" th:value="${type.name()}">
            <label th:for="${#ids.prev('regionType')}" th:text="${type.description}">
            </label>
        </div>
    </div>
    <div>
        <div>게시글 종류</div>
        <div th:each="type : ${regionPostTypes}">
            <input type="radio" th:field="*{regionPostType}" th:value="${type.name()}">
            <label th:for="${#ids.prev('regionPostType')}" th:text="${type.description}">
            </label>
        </div>
    </div>

    <div>
        <label th:for="title">제목</label>
        <input type="text" th:field="*{title}" placeholder="제목을 입력하세요">
        <div th:errors="*{title}">
            제목 오류
        </div>
    </div>
    <div>
        <label th:for="content">게시글 내용</label>
        <input type="text" th:field="*{content}" placeholder="게시글을 입력하세요">
    </div>
    <button type="submit">Submit</button>
</form>
</div>

</body>
</html>