<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자취 게시글 목록</title>
</head>
<body>

<thead>
<tr>
    <th>#</th>
    <th>작성자</th>
    <th>제목</th>
    <th>내용</th>
    <th>수정일자</th>
    <th>추천수</th>
    <th>조회수</th>
    <br>
</tr>
</thead>
<tbody>
<tr th:each="post : ${independentPost}">
    <td th:text="${post.member.nickname}"></td>
    <td th:text="${post.title}"></td>
    <td th:text="${post.content}"></td>
    <td th:text="${post.lastModifiedDate}"></td>
    <td th:text="${post.recommendCount}"></td>
    <td th:text="${post.views}"></td>
    <br>
</tr>
</tbody>
</div>
<span th:text="${totalCount}"></span>
</body>
</html>